In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
RollNo=['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25']

In [4]:
Name=['ni','kk','li','ch','er','ry',np.nan,'es','ht','aa','ar',np.nan,'ba','ml','cs','ai','bk','ci',np.nan,'qr','xy','yr','zs',np.nan,'kt']

In [5]:
Age=[10,12,13,16,17,19,10,30,40,50,60,47,36,34,27,36,28,56,38,44,55,77,88,22,99]

In [6]:
Marks=[10,20,30,40,50,60,70,80,90,100,88,4,np.nan,66,77,76,86,94,32,21,61,92,74,84,np.nan]

In [7]:
Pasfail=['f','f','f','p','p','p','p','p','p','p','p','f',np.nan,'p','p','p','p','p','p','f','p','p','p','p',np.nan,]

In [8]:
list_of_tuples=list(zip(RollNo,Name,Age,Marks,Pasfail))

In [9]:
list_of_tuples

[('1', 'ni', 10, 10, 'f'),
 ('2', 'kk', 12, 20, 'f'),
 ('3', 'li', 13, 30, 'f'),
 ('4', 'ch', 16, 40, 'p'),
 ('5', 'er', 17, 50, 'p'),
 ('6', 'ry', 19, 60, 'p'),
 ('7', nan, 10, 70, 'p'),
 ('8', 'es', 30, 80, 'p'),
 ('9', 'ht', 40, 90, 'p'),
 ('10', 'aa', 50, 100, 'p'),
 ('11', 'ar', 60, 88, 'p'),
 ('12', nan, 47, 4, 'f'),
 ('13', 'ba', 36, nan, nan),
 ('14', 'ml', 34, 66, 'p'),
 ('15', 'cs', 27, 77, 'p'),
 ('16', 'ai', 36, 76, 'p'),
 ('17', 'bk', 28, 86, 'p'),
 ('18', 'ci', 56, 94, 'p'),
 ('19', nan, 38, 32, 'p'),
 ('20', 'qr', 44, 21, 'f'),
 ('21', 'xy', 55, 61, 'p'),
 ('22', 'yr', 77, 92, 'p'),
 ('23', 'zs', 88, 74, 'p'),
 ('24', nan, 22, 84, 'p'),
 ('25', 'kt', 99, nan, nan)]

In [10]:
df=pd.DataFrame(list_of_tuples,columns=['RollNo','Name','Age','Marks','Pasfail'])

In [11]:
df

   RollNo Name  Age  Marks Pasfail
0       1   ni   10   10.0       f
1       2   kk   12   20.0       f
2       3   li   13   30.0       f
3       4   ch   16   40.0       p
4       5   er   17   50.0       p
5       6   ry   19   60.0       p
6       7  NaN   10   70.0       p
7       8   es   30   80.0       p
8       9   ht   40   90.0       p
9      10   aa   50  100.0       p
10     11   ar   60   88.0       p
11     12  NaN   47    4.0       f
12     13   ba   36    NaN     NaN
13     14   ml   34   66.0       p
14     15   cs   27   77.0       p
15     16   ai   36   76.0       p
16     17   bk   28   86.0       p
17     18   ci   56   94.0       p
18     19  NaN   38   32.0       p
19     20   qr   44   21.0       f
20     21   xy   55   61.0       p
21     22   yr   77   92.0       p
22     23   zs   88   74.0       p
23     24  NaN   22   84.0       p
24     25   kt   99    NaN     NaN